@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  /* height: 100%;
  width: 100%; */

  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;

  /* height: 100vh;  */
}

/* .app {
  min-width: min(1440px, 100%);
  height: 1206px;
  position: relative;
  display: grid;
  grid-template-columns: 212px 1fr 280px;
  grid-template-rows: auto 1fr;
} */

.content {
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
